.section-gap {
    margin: 120px 0px;
}

.flex-col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.crops h5 {
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    margin-top: 40px;
}

.crops {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.crops-heading h5 {
    text-align: center;
    margin-bottom: 30px;
}

.crops ul {
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    margin-top: 20px;
    text-align: center;
    font-weight: 800;
}

ul {
    list-style-type: none;
}

.crops-btn {
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    padding: 10px 24px;
    border-radius: 50px;
    min-width: 200px;
    height: 50px;
    font-size: 18px;
    background-color: rgb(0, 0, 0);
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

.crops-btn:hover {
    background-color: #fff;
    color: #000000;
    border: #000000 1px solid;
}

.select-search-input[readonly] {
    text-align: center;
}