.custom-col_1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #fafbfb52;
    border-radius: 8px;
}

#search-addon {
    background-color: rgba(255, 255, 255, 0.541);
    cursor: pointer;
}

.custom-btn_1 {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #fff;
    background-color: #000000;
    height: 48px;
}

.custom-btn_1:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid black;
}

.custom-input_1 {
    box-sizing: border-box;
    font-family: inherit;
    font-size: 14px;
    vertical-align: baseline;
    font-weight: 400;
    font-family: 'Rajdhani', sans-serif;
    line-height: 1.29;
    letter-spacing: .16px;
    border-radius: 0;
    outline: 2px solid transparent;
    outline-offset: -2px;
    width: 100%;
    height: 40px;
    border-radius: 12px;
    margin-left: auto;
    border: none;
    border-bottom: 1px solid #8d8d8d;
    background-color: #EAEAEA;
    padding: 0 16px;
    color: #ffffff;
    transition: background-color 70ms cubic-bezier(.2, 0, .38, .9), outline 70ms cubic-bezier(.2, 0, .38, .9);
}

.custom-input_1:focus {
    outline: none !important;
    outline-offset: -2px;
    background-color: #000000;
}

.flex_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: centerS;
}

.slide-right {
    animation: 2s slide-right;
}

@keyframes slide-right {
    from {
        margin-left: -100%;
    }
    to {
        margin-left: 0%;
    }
}

.flex-row_1 {
    display: flex;
}

.centring {
    display: flex;
    align-items: center;
}

.card-image {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.news-btn {
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    padding: 10px 24px;
    border-radius: 50px;
    min-width: 200px;
    height: 50px;
    font-size: 18px;
    background-color: rgb(0, 0, 0);
    font-weight: 500;
    color: #ffffff;
    text-align: center;
}

.news-btn:hover {
    background-color: #fff;
    color: #000000;
    border: #000000 1px solid;
}

.news_h1 {
    font-family: 'Rajdhani', sans-serif;
}

.news_p {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
}

.news_h1_1 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    font-size: 40px;
}